.acceso_rapido {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    position: relative;
    top: 10px
}

.acceso_rapido a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.access_card {
    box-shadow: 2px 2px 5px #94a3b8;
    width: 110px;
    height: 100px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.pacientes {
    background-color: #94a3b8;
}

.diagnostico {
    background-color: #f0890c;
}

.tratamiento {
    background-color: #00a396;
}

.alta {
    background-color: #b36ed8;
}

.access_card svg {
    font-size: 2.813rem;
    color: #ffffff;
    margin-bottom: 5px;
}

.access_card span {
    font-size: 0.875rem;
    color: #ffffff;
    display: block;
    text-align: center;
}

.access_card:hover {
    background-color: #424884;
}

.access_card:hover span,
.access_card:hover svg {
    color: #ffffff;
}

.add_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    position: relative;
}

.add_card:hover {
    background-color: #424884;
}

.add_card:hover span {
    color: #ffffff;
}

.add_card:hover .options { 
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
}

.options {
    display: flex;
    position: absolute;
    top: 30%;
    left: 120%;
    transform: translateX(-50%);
    flex-direction: row;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.option {
    width: 30px;
    height: 30px;
    background-color: #424884;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
}

.option svg {
    font-size: 1rem;
    margin: 0.2rem;
    color: #ffffff;
}

.option:hover {
    transform: scale(1.2);
}

/* Animación circular de las opciones */
.add_card:hover .option:nth-child(1) {
    transform: rotate(0deg) translateY(-40px) rotate(0deg);
}

.add_card:hover .option:nth-child(2) {
    transform: rotate(60deg) translateY(-40px) rotate(-60deg);
}

.add_card:hover .option:nth-child(3) {
    transform: rotate(120deg) translateY(-40px) rotate(-120deg);
}

.add_card:hover .option:nth-child(4) {
    transform: rotate(180deg) translateY(-40px) rotate(-180deg);
}

@media (max-width: 768px) {
    .acceso_rapido {
        width: 475px;
        top: 105px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .access_card {
        flex: 1 1 calc(33.333% - 8px);
        /* min-width: 0;
        max-width: 100%; */
        height: 50px;
        border-radius: 0.9rem;
        margin: 0;
        flex-shrink: 0;
    }

    .access_card a {
        display: flex;
        flex-direction: row;
    }

    .add_card {
        display: flex;
        flex-direction: row;
    }

    .access_card:last-child:nth-child(5n + 4),
    .access_card:last-child:nth-child(5n + 5) {
        width: calc(50% - 4px);
    }

    .access_card:last-child:nth-child(5n + 1) {
        flex-basis: 100%;
    }

    .access_card svg {
        font-size: 1.5rem;
        color: #ffffff;
    }

    .access_card span {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .options {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row;
        gap: 10px;
        width: max-content;
        padding-top: 5px;
    }
    
    .add_card:hover .option:nth-child(1),
    .add_card:hover .option:nth-child(2),
    .add_card:hover .option:nth-child(3),
    .add_card:hover .option:nth-child(4) {
        transform: none !important;
        position: static;
    }

    .option {
        position: static;
        width: 30px;
        height: 30px;
        margin: 0;
    }

    .option svg {
        font-size: 1rem;
    }
}

@media (max-width: 640px) {
    .acceso_rapido {
        width: 345px;
        top: 110px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .access_card {
        flex: 1 1 calc(33.333% - 10px);
        /* min-width: 0;
        max-width: 100%; */
        height: 40px;
        border-radius: 0.9rem;
        margin: 0;
        flex-shrink: 0;
    }

    .access_card svg {
        font-size: 1rem;
        color: #ffffff;
    }

    .access_card span {
        font-size: 0.7rem;
        padding: 0.5rem;
    }
}