.profesional_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.tarjeta_profesional {
    background-color: #ffffff;
    box-shadow: 0.125rem 0.125rem 0.313rem #94a3b8;
    width: 100%;
    height: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    position: relative;
}

.tarjeta_profesional svg {
    color: #00BEB0;
    font-size: 1.563rem;
    margin-right: 0.625rem;
}

.tarjeta_profesional:hover svg {
    color: #424884;
    cursor: pointer;
}

.profesional_header {
    width: 6.5rem;
    border-radius: 8rem;
}

.datos {
    height: 9.375rem;
    width: 70%;
    padding: 0.5rem;
}

.datos_nombre {
    font-size: 1.875rem;
    color: #B36ED8;
}

.datos_perfil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.625rem;
    position: relative;
    top: 0.625rem;
}

.dato_perfil p {
    color: #94A3B8;
}

.dato_perfil span {
    color: #89898a;
    font-size: 0.75rem;
    font-weight: 100;
}
/* media queries*/
@media (max-width: 768px) {
    .profesional_container {
        position: relative;
        top: auto;
        left: 0;
        width: calc(100% - 2px);
    }

    .tarjeta_profesional {
        width: 100%;
        height: 10.938rem;
    }

}

@media (max-width: 640px) {
    .tarjeta_profesional svg {
        color: #00BEB0;
        font-size: 1.2rem;
    }

    .tarjeta_profesional:hover svg {
        font-size: 1.2rem;
    }

    .datos {
        width: 60%;
        padding: 0.2rem;
    }

    .datos_nombre {
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }

    .datos_perfil {
        grid-template-columns: 1fr;
        row-gap: 1px;
        top: 0.313rem;
    }

    .dato_perfil p {
        font-size: 0.7rem;
    }

    .dato_perfil span {
        font-size: 0.7rem;
    }
}