.form_button {
    width: 100%;
    padding: 0.313rem 0.625rem;
    display: flex;
    justify-content: flex-end;
}

.btn {
    background-color: #424884;
    color: #ffffff;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .btn {
        position: relative;
        top: -1.25rem;
        padding: 0.625rem 1.563rem;
        font-size: 0.8rem;
    }

    .noTop {
        top: 0 !important;
    }
}

@media (max-width: 640px) {
    .btn {
        position: relative;
        top: -1.563;
        padding: 0.313 1.25rem;
        font-size: 0.8rem;
    }

    .noTop {
        top: 0 !important;
    }
}