.tarjeta_paciente {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
    padding-bottom: 1.25rem;
    margin-top: 0.625rem;
    /* overflow-y: auto; */
    transition: all .3s ease;
}

.tarjeta_paciente.lista {
    flex-direction: column;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    flex-wrap: nowrap;
    padding-right: 0.313rem;
}

.tarjeta_paciente.lista::-webkit-scrollbar {
    width: 0.375rem;
}

.tarjeta_paciente.lista::-webkit-scrollbar-thumb {
    background-color: #94a3b8;
    border-radius: 0.188rem;
}

.tarjeta_paciente.lista::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.tarjeta_paciente p {
    color: #94a3b8;
    font-size: 0.75rem;
}

.pacientes_columns {
    display: flex;
    gap: 0.625rem;
}
  
.paciente_column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
}


.paciente_detalles {
    background-color: #ffffff;
    box-shadow: 1px 2px 4px  #94a3b8;
    border-radius: 1rem;
    padding: 0.625rem;
    margin: 0.625rem;
    height: 11.25rem;
    width: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.tarjeta_paciente.lista .paciente_detalles {
    display: flex;
    width: 95%;
    height: 6.25rem;
    margin: 0.625rem auto;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1.25rem;
}

.paciente_detalles:hover {
    background-color: #424884;
}

.paciente_detalles:hover h5 {
    color: #ffffff;
}

.tarjeta_paciente.lista .paciente_foto {
    margin-right: 1.25rem;
}

.paciente_foto img {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: 1px solid #89898a;
}

.paciente_data {
    color: #424884;
}

.paciente_data h5 {
    padding: 1rem;
}

@media (max-width: 768px) {
    .tarjeta_paciente {
        position: relative;
        top: 0.625rem;
        left: 0;
        width: 100%;
        max-width: calc(100% - 5px);
        height: auto;
    }

    .paciente_detalles {
        width: 100%;
        margin: 0;
    }

    .tarjeta_paciente.lista {
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - 11.25rem);
        overflow-y: auto;
    }

    .tarjeta_paciente.lista::-webkit-scrollbar {
        width: 0.25rem;
    }

    .tarjeta_paciente.lista::-webkit-scrollbar-thumb {
        background-color: #94a3b8;
        border-radius: 2px;
    }
}

@media (max-width: 550px) {
    .tarjeta_paciente {
        position: relative;
        top: 0.313rem;
        left: 0;
    }

    .paciente_foto img {
        width: 3.75rem;
        height: 3.75rem;
    }

    .paciente_data h5 {
        padding: 0.8rem;
    }
}