.tarjeta_paciente {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-height: calc(100vh - 100px);
    padding-bottom: 20px;
    margin-top: 10px;
    overflow-y: auto;
    transition: all .3s ease;
}

.tarjeta_paciente p {
    color: #94a3b8;
    font-size: 12px;
}

.pacientes_columns {
    display: flex;
    gap: 10px;
}
  
.paciente_column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* .tarjeta-paciente.lista {
    display: block;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    gap: 1rem;
} */

.paciente_detalles {
    background-color: #ffffff;
    box-shadow: 1px 1px 2px #94A3B8;
    border-radius: 1rem;
    padding: 10px;
    margin: 10px;
    height: 180px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.tarjeta_paciente.lista .paciente_detalles {
    display: flex;
    width: 95%;
    height: 100px;
    margin: 10px auto;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

.paciente_detalles:hover {
    background-color: #94a3b8;
}

.paciente_detalles:hover h5 {
    color: #ffffff;
}

.tarjeta_paciente.lista .paciente_foto {
    margin-right: 20px;
}

.paciente_foto img {
    width: 80px;
    height: 80px;
    border: 1px solid #94A3B8;
    border-radius: 5rem;
}

.paciente_data {
    color: #00a396;
}

.paciente_data h5 {
    padding: 1rem;
}