.add_container {
    width: 280px;
    height: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.add_card {
    width: 110px;
    height: 100px;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #94a3b8;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;   
}

.add_card span {
    color: #00a396;
}

.add_card svg {
    color: #424884;
    font-size: 45px;
}

.add_card:hover {
    background-color: #424884;
}

.add_card:hover span {
    color: #ffffff;
}

.add_card:hover svg {
    color: #00a396;
}

