.calendar_container {
    width: 425px;
    height: 300px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendario {
    width: 100%;
    height: 100%;
    max-width: 400px;
    box-shadow: 2px 2px 5px #94a3b8;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 1.5rem;
    overflow-y: auto;
}

.calendario_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendario_btn {
    width: 100px;
    padding: 5px 5px;
    background-color: #424884;
    color: #ffffff;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-size: 0.8rem;
    transition: all 0.2s ease;
}

.calendario_btn:hover {
    background: #ffffff;
    color: #00a396;
    border: 1px solid #424884;
}

.month_year {
    font-size: 1rem;
    font-weight: bold;
    color: #00a396;
}

.days_of_week {
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    color: #424884;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 1rem;
    color: #a3a3a3;
}

.day {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.day:hover {
    background-color: #94a3b8;
    color: #ffffff;
}

.day.selected {
    background-color: #00a396;
    color: white;
}

.day.selected.today {
    background-color: #B36ED8;
}