.grafico_container {
    width: 425px;
    height: auto;
    height: 275px;
    aspect-ratio: 425/275;
    margin: 8px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 0.5px solid #94a3b8;
    box-shadow: 0 2px 2px #94a3b8;
    background: #ffffff;    
}

/* Media Queries */
@media (min-width: 1281px) {
    .grafico_container {
        position: relative;
        top: 5px;
        left: 0;
        width: calc(100% - 5px);
        height: auto;
    }
}

@media (max-width: 1280px) {
    .grafico_container {
        position: relative;
        top: 0;
        left: 0;
        width: calc(100% - 2px);
    }
}

@media (max-width: 1024px) {
    .grafico_container {
        position: relative;
        top: 0;
        left: 0;
        width: calc(100% - 2px);
    }
}

@media (max-width: 768px) {
    .grafico_container {
        position: relative;
        top: 80px;
        left: 0;
        width: calc(95% - 2px);
    }
}

@media (max-width: 640px) {
    .grafico_container {
        position: relative;
        top: 80px;
        left: 0;
        width: calc(100% - 2px);
    }
}