.perfil_profesional {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tarjeta_profesional {
    background: #fff;
    box-shadow: 2px 2px 5px #94a3b8;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 16px;
    position: relative;
}

.perfil img {
    width: 350px;
}

.tarjeta_profesional .datos {
    height: 150px;
    width: 60%;
    padding: 0.5rem;
}

.datos h4 {
    color: #ff6699;
    font-size: 25px;
    display: grid;          /* Activa Grid */
    grid-auto-flow: row;    /* Elementos en columna */
}

.datos_nombre {
    font-size: 18px;
    color: #94a3b8;
}

.datos_perfil {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas de igual ancho */
    row-gap: 4px;
}

.datos_perfil p {
    color: #94a3b8;
    text-align: left;
    font-size: 13px;
}

.datos_perfil span {
    color: #89898a;
    font-size: 13px;
}

button {
    border: none;
    outline: none;
}

.btn {
    background: #94a3b8;
    width: 125px;
    height: 20px;
    padding: 1.2rem;
    margin: 1rem;
    color: #ebebeb;
    position: absolute;
    bottom: -5px;
    right: 0;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #0f172a;
    color: #fff;
}

.ver-perfil {
    text-decoration: none;
    color: inherit;
}

.btn:hover {
    border: 1px solid #94a3b8;
    background-color: transparent;
    color: #94a3b8;
}