.perfil_profesional {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.tarjeta_profesional {
    background: #fff;
    box-shadow: 0.125rem 0.125rem 0.313rem #94a3b8;
    width: 100%;
    height: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    position: relative;
}

.perfil img {
    width: 21.875rem;
}

.tarjeta_profesional .datos {
    height: 9.375rem;
    width: 60%;
    padding: 0.5rem;
}

.datos h4 {
    color: #B36ED8;
    font-size: 1.6rem;
    display: grid;
    grid-auto-flow: row;
}

.datos_nombre {
    font-size: 1.25rem;
    color: #00a396;
}

.datos_perfil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.25rem;
}

.datos_perfil p {
    color: #94a3b8;
    text-align: left;
    font-size: 0.8rem;
}

.datos_perfil span {
    color: #89898a;
    font-size: 0.8rem;
}

.btn:hover {
    border: 1px solid #94a3b8;
    background-color: transparent;
    color: #94a3b8;
}

/* MEDIA QUERIES */
@media (max-width: 1320px) {
    .tarjeta_profesional {
        width: calc(100% - 2px);
    }

    .tarjeta_profesional .datos {
        width: calc(100% - 50px);
    }

    .datos h4 {
        font-size: 1.4rem;
    }

    .datos_nombre {
        font-size: 1.1rem;
    }

    .datos_perfil {
        width: 98%;
        column-gap: 1px;
        row-gap: 0.313rem;
    }

    .datos_perfil p,
    .datos_perfil span {
        font-size: 0.75rem;
    }

    .perfil img {
        width: 21rem;
    }

}

@media (max-width: 1120px) {
    .perfil_profesional {
        width: calc(100% - 2px);
        height: 15.625rem;
    }

    .tarjeta_profesional {
        height: 15.625rem;
        display: flex;
        flex-direction: column;
    }

    .datos h4 {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .datos_nombre {
        width: 100%;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .perfil img {
        width: 15.625rem;
    }

    .datos_perfil {
        row-gap: 1px;
    }

    .datos_perfil p {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .perfil_profesional {
        position: relative;
        top: 6.25rem;
        left: 0;
        width: calc(100% - 2px);
        height: 14.375rem;
    }

    .tarjeta_profesional {
        width: 100%;
        height: 14.063rem;
        display: flex;
        flex-direction: column;
    }

    .tarjeta_profesional .datos {
        width: 30.313rem;
        height: auto;
    }

    .perfil img {
        width: 14.063rem;
    }

    .datos h4 {
        margin-top: -0.938rem;
        font-size: 1.2rem;
        justify-content: center;
    }

    .datos_nombre {
        font-size: 1rem;
        display: block;
        text-align: center;
        width: 100%;
    }

    .datos_perfil {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        text-align: center;
    }
    
    .datos_perfil p,
    .datos_perfil span {
        width: 100%;
        text-align: center;
    }

    .datos_perfil span {
        font-size: 0.7rem;
    }
}

@media (max-width: 640px) { 
    .perfil img {
        width: 12.5rem;
    }

    .tarjeta_profesional {
        height: 17.188rem;
    }

    .datos h4 {
        font-size: 1rem;
        margin-top: -0.625rem;
    }

    .datos_nombre {
        font-size: 0.9rem;
    }

    .datos_perfil {
        height: 6.25rem;
        grid-template-columns: 1fr;
        column-gap: 1px;
    }
    
    .datos_perfil p,
    .datos_perfil span {
        width: 100%;
        text-align: center;
        font-size: 0.7rem;
    }
}