.form_content {
    width: 100%;
    height: auto;
    min-height: 28.125rem;
    margin: 0;
    padding: 1.5rem;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 2px 2px 5px #94a3b8;
    color: #94a3b8;
    box-sizing: border-box;
}

.assessment_form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.assessment_data {
    display: flex;
    flex-direction: column;
    gap: 0.188rem;
    padding: 0.313rem;
}

.assessment_data input:focus,
.assessment_data select:focus {
    outline: #94a3b8;
    border: 2px solid #00a396;
}

.success_message {
  position: relative;
  top: 0;
  height: 30px;
  background-color: #27ae60;
  border-radius: 0.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 0.9rem;
}

/* media queries */
@media (max-width: 768px) {
    .form_content {
        position: relative;
        top: auto;
        width: calc(100% - 2px);
        height: auto;
        padding: 0.6rem;
    }

    .assessment_data input,
    .assessment_data select,
    .report_data  {
        padding: 0.2rem;
    }

    .report_data label {
        font-size: 0.75rem;
    }

}