.panel_content {
    height: 425px;
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #94a3b8ff;
    border-radius: 1rem;
    color: #94a3b8ff;  
}

.report_form {
    display: flex;
    flex-direction: column;
}

.report_data {
    padding: 10px;
}