.menu_dashboard {
    width: 12.5rem;
    height: 100vh;
    padding: 1rem;
    background: #94a3b8;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: 1000;
}

.top_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.563rem;
}

.logo span {
    color: #ffffff;
    font-size: 1.25rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    height: 16.875rem;
}

.enlace {
    height: 3.125rem;
    padding: 0.625rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.link_menu {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.link_menu svg {
    color: #ffffff;
    font-size: 1.5rem;
}

.link_menu span {
    color: #ffffff;
    padding: 1rem;
    font-family: "Montserrat", serif;
}

.menu .enlace:hover {
    background: #8d9bb8;
}

.menu .enlace.active {
    background-color: #ffffff;
}

.menu .enlace.active span,
.menu .enlace.active svg {
    color: #94a3b8;
}

/* search */
.search_bar {
    position: relative;
    top: 1.25rem;
    height: 7.813rem;
    transition: all 0.3s ease;
}

.input_search {
    display: flex;
    align-items: center;
    background-color: #8d9bb8;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.input_search svg {
    color: white;
    margin-right: 0.5rem;
}

.input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 0.75rem;
    width: 100%;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.205);
    font-size: 0.75rem;
}

.search_results {
    position: absolute;
    width: 100%;
    background: #94a3b8;
    color: white;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.1);
    max-height: 12.5rem;
    overflow-y: auto;
}

.search_results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search_results li {
    padding: 0.375rem 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search_results li:hover {
    background-color: #8d9bb8;
    color: #f0f2f5;
    border-radius: 2px;
}

/* Scrollbar personalizada */
.search_results::-webkit-scrollbar {
    width: 6px;
}

.search_results::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 0.5rem 0.5rem 0;
}

.search_results::-webkit-scrollbar-thumb {
    background: #4248849a;
    border-radius: 3px;
}

/* media queries */
@media (max-width: 1290px)  {
    .menu_dashboard {
        width: 6.25rem;
        transition: width 0.3s ease;
    }

    .menu_dashboard.search_active {
        width: 17.5rem;
    }
    
    .logo span {
        font-size: 0.8rem;
    }

    .input_search {
        padding: 0.5rem;
    }

    .input {
        width: 0;
        opacity: 0;
        transition: all 0.3s ease;
        padding: 0;
    }

    .search_bar.active .input {
        width: 100%;
        opacity: 1;
        padding: 0 0.5rem;
    }

    .search_results {
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    .input_search .input::placeholder {
        color: transparent;
    }

    .enlace {
        justify-content: center;
    }

    .link_menu {
        justify-content: center;
    }

    .link_menu span {
        display: none;
    }
}

@media (max-width: 768px) {
    .menu_dashboard {
        width: 100%;
        max-height: 6.25rem;
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.313rem;
        position: fixed;
        top: 0;
        left: 0;
        /* z-index: 1000; */
    }

    .search_container {
        position: absolute;
        top: 1.25rem;
        left: 0;
        width: calc(100% - 2px);
        padding: 0.2rem;
        display: none;
    }

    .search_container.active {
        display: block;
        animation: fadeIn 0.3s ease;
    }

    .search_container.active ~ .menu {
        display: none;
    }

    .search_container:not(.active) ~ .menu {
        display: flex;
    }

    .search_results {
        position: absolute;
        top: 3.125rem;
        width: 100%;
        z-index: 100;
        background-color: #94a3b8;
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(-10px); }
        to { opacity: 1; transform: translateY(0); }
    }

    .menu {
        position: absolute;
        height: 6.25rem;
        top: 1.875rem;
        left: 0;
        width: 100%;
        padding: 0.8rem;
        flex-direction: row;
        justify-content: center;
        gap: 3.125rem;
    }

    .mobile_buttons {
        display: flex;
        gap: 0.938rem;
    }

    .mobile_button {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }
}

@media (max-width: 640px) {
    .menu_dashboard {
        width: 100%;
        max-height: 6.25remx;
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.313rem;
        position: fixed;
        top: 0;
        left: 0;
        /* z-index: 1000; */
    }

    .search_container {
        position: absolute;
        top: 1.25rem;
        left: 0;
        width: calc(100% - 2px);
        padding: 0.2rem;
        display: none;
    }

    .search_container.active {
        display: block;
        animation: fadeIn 0.3s ease;
    }

    .search_container.active ~ .menu {
        display: none;
    }

    .search_container:not(.active) ~ .menu {
        display: flex;
    }

    .search_results {
        position: absolute;
        top: 3.125rem;
        width: 100%;
        z-index: 100;
        background-color: #94a3b8;
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(-10px); }
        to { opacity: 1; transform: translateY(0); }
    }

    .menu {
        position: absolute;
        height: 6.25rem;
        top: 1.875rem;
        left: 0;
        width: 100%;
        padding: 0.8rem;
        flex-direction: row;
        justify-content: center;
        gap: 1.875rem;
    }

    .mobile_buttons {
        display: flex;
        gap: 0.938rem;
    }

    .mobile_button {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }
}