.menu_dashboard {
    width: 200px;
    height: 100vh;
    padding: 1rem;
    background: #94a3b8;
    position: fixed;
    top: 0;
    left: 0;
}

.top_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
}

.logo span {
    color: #ffffff;
    font-size: 20px;
}

/* ENLACES MENU */
.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 270px;
}

.enlace {
    height: 50px;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.link_menu svg {
    color: #ffffff;
    font-size: 25px;
}

/* .menu .enlace .link_menu {
    text-decoration: none;
    color: inherit;
    background: transparent;
    font-size: 20px;
    font-family: "Montserrat", serif;
} */

.link_menu span {
    color: #ffffff;
    padding: 1rem;
    font-family: "Montserrat", serif;
}

.menu .enlace:hover {
    background: #8d9bb8;
}

.menu .enlace.active {
    background-color: #ffffff;
}

.menu .enlace.active span,
.menu .enlace.active svg {
    color: #94a3b8;
}
/*search bar */
.search_bar {
    height: 125px;
    margin-bottom: 10px;
}

.input_search {
    width: 100%;
    margin: 20px 0;
    background-color: #8d9bb8;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    margin-right: 15px;
}


.input_search .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: #ffffff;
    padding: 0 10px;
    font-size: 12px;
}

.input_search .input::placeholder {
    color: #ffffff83;
    font-size: 12px;
    font-family: var(--fuente-primaria);
}

/* .menu_dashboard .search-results {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
} */

.search_results {
    color: #ffffff;
    margin-top: -15px;
    max-height: 75px;
    overflow-y: auto;
    font-size: 12px;
}

.result_item {
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 12px;
}

.result_item:hover {
    background-color: #8d9bb8;
}

.search_results::-webkit-scrollbar {
    width: 5px;
}

.search_results::-webkit-scrollbar-thumb {
    background-color: #626263;
    border-radius: 4px;
}

.search_results::-webkit-scrollbar-thumb:hover {
    background-color: #626263;
}