.resume_tab {
  width: 100%;
  height: 7.813rem;
  background-color: #ffffff;
  border-radius: 0.938rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resume_tab--diagnostico {
  border: 1px solid #f0890c;
  box-shadow: 0 2px 2px #f0890c;
}

.resume_tab--tratamiento {
  border: 1px solid #00a396;
  box-shadow: 0 2px 2px #00a396;
}

.resume_tab--alta {
  border: 1px solid #b36ed8;
  box-shadow: 0 2px 2px #b36ed8;
}

.history_details {
  gap: 0.313rem;
}

.history_details--diagnostico p {
  font-size: 0.875rem;
  color: #f0890c;
}

.history_details--tratamiento p {
  font-size: 0.875rem;
  color: #00a396;
}

.history_details--alta p {
  font-size: 0.875rem;
  color: #b36ed8;
}

.history_details span {
  color: #89898a;
  font-size: 0.75rem;
}

/* media queries */
@media (max-width: 640px) {
  .resume_tab {
    width: 100%;
    height: 6.25rem;
  }
  
  .history_details--diagnostico p,
  .history_details--tratamiento p,
  .history_details--alta p {
    font-size: 0.75rem;
  }

  .history_details span {
    font-size: 0.7rem;
  }
}

@media (max-width: 450px) {
  .resume_tab {
    width: 100%;
    height: 5.625rem;
  }

  .history_details--diagnostico p,
  .history_details--tratamiento p,
  .history_details--alta p {
    font-size: 0.6rem;
  }

  .history_details span {
    font-size: 0.6rem;
  }
}

