.historysessions_container {
    width: 100%;
    height: auto;
    margin-top: 0.625rem;
}

.history_header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}

.sessions_container {
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #ffffff;
}

.sessions_container--diagnostico {
    border: 0.5px solid #f0890c7c;
}

.sessions_container--tratamiento {
    border: 0.5px solid #00a3967c;

}

.sessions_container--alta {
    border: 0.5px solid #b36ed87c;
}

.sessions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sessions_observation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessions_observation p {
    font-size: 0.875rem;
    color: #94a3b8;
}

.sessions_observation span {
    font-size: 0.75rem;
    color: #89898a;
}

.sessions_date {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessions_date p {
    font-size: 0.875rem;
    color: #94a3b8;
}

.sessions_date span {
    font-size: 0.75rem;
    color: #89898a;
}

/* media queries */
@media (max-width: 640px) {
    .historysessions_container {
        width: 100%;
    }

    .history_header {
        height: 1.875rem;
    }

    .history_header svg {
        position: relative;
        top: -0.375rem;
        width: 1.125rem;
        height: 1.125rem;
    }

    .sessions_observation p,
    .sessions_date p {
        font-size: 0.7rem;
    }

    .sessions_observation span,
    .sessions_date span {
        font-size: 0.65rem;
    }
}

@media (max-width: 450px) {
    .historysessions_container {
        width: 100%;
    }

    .history_header {
        height: 1.563rem;
    }

    .history_header svg {
        position: relative;
        top: -0.25rem;
        width: 1rem;
        height: 1rem;
    }

    .sessions_observation p,
    .sessions_date p {
        font-size: 0.6rem;
    }

    .sessions_observation span,
    .sessions_date span {
        font-size: 0.55rem;
    }
}