.reports_resume {
    width: 100%;
    height: auto;
}

.reports_header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}

.report {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    gap: 0.313rem;   
    overflow-y: auto; 
}

.report_details {
    border-radius: 0.938rem;
    padding: 0.6rem;
    width: 100%;
    height: 5.625rem;
    display: flex;
    flex-direction: column;
}

.report_details--diagnostico {
    border: 1px solid #f0890c;
}

.report_details--tratamiento {
    border: 1px solid #00a396;
}

.report_details--alta {
    border: 1px solid #b36ed8;
}

.report_details span {
    font-size: 0.75rem;
    font-weight: 100;
    color: #89898a;
}

/* media queries */
@media (max-width: 640px) {
    .reports_resume {
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
    }

    .reports_header {
        height: 2.188rem;
    }

    .reports_header svg {
        position: relative;
        top: -0.25rem;
        width: 1.125rem;
        height: 1.125rem;
    }

    .report {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 0.313rem;
    }

    .report_details {
        width: 100%;
        height: 5rem;
    }

    .report_details span {
        font-size: 0.7rem;
    }
}

@media (max-width: 450px) {
    .reports_resume {
        top: -5px;
        width: 100%;
        height: auto;
    }

    .reports_header {
        height: 1.875rem;
    }

    .reports_header svg {
        position: relative;
        top: -0.25rem;
        width: 1rem;
        height: 1rem;
    }

    .report {
        grid-template-columns: 1fr 1fr;
        gap: 0.313rem;
    }

    .report_details {
        width: 100%;
        height: 5rem;
    }

    .report_details span {
        font-size: 0.65rem;
    }
}