.solapa {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 1rem;
  /* max-height: 325px; */
}

.solapa h3 {
  font-size: 1.2rem;
  padding: 0.313rem;
  color: #00a396;
}

.solapa_deactivate {
  width: 100%;
  height: 21.875rem;
  margin: 0;
  padding: 1.5rem;
  background: #ffffff;
  box-shadow: 0.125rem 0.125rem 0.313rem #94A3B8;
}

.container_deactivate {
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
  justify-content: center;
}

.deactivate_info {
  padding-top: 1rem;
  text-align: center;
}

.info_extra {
  border-top: 1px solid #94a3b883;
  border-bottom: 1px solid #94a3b883;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.deactivate_info, 
.info_extra {
  color: #89898a;
}

.deactivate_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 1.5rem;
  background-color: #fff;
  color: #ff6f59;
  border: 1px solid #ff6f59;
  border-radius: 0.5rem;
  position: relative;
  margin: 0 auto;
  top: 2.188rem;
  /* border: none; */
  cursor: pointer;
  transition: background-color 0.3s ease;                  
}

.deactivate_btn:hover {
  background-color: #e65a4a;
  color: #fff;
}

.deactivate_btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 111, 89, 0.5);
}

/* media queries */
@media (max-width: 1024px) {
  .solapa {
    position: relative;
    width: calc(100% - 2px);
    height: 20rem;
  }

  .solapa h3 {
    position: relative;
    top: -2.813rem;
    left: 2.188rem;
    font-size: 1rem;
  }

  .container_deactivate {
    position: relative;
    top: -2.375rem;
  }

  .deactivate_btn {
    position: relative;
    top: -1.25rem;
    padding: 0.5rem 1.5rem;
  }
}

@media (max-width: 768px) {
  .solapa {
    position: relative;
    top: auto;
    width: calc(100% - 2px);
    height: 18.125rem;
  }

  .solapa h3 {
    position: relative;
    top: -2.438rem;
    left: -2.188rem;
    font-size: 0.9rem;
  }

  .container_deactivate {
    position: relative;
    top: -2.375rem;
  }
  
  .deactivate_info {
    font-size: 0.8rem;
  }
  
  .info_extra {
    padding: 0.5rem;
    font-size: 0.6rem;
  }

  .deactivate_btn {
    position: relative;
    top: -1.25rem;
    padding: 0.5rem 1.5rem;
  }

  .deactivate_btn svg {
    font-size: 1.1rem;
  }

  .deactivate_btn span {
    font-size: 0.8rem;
  }

}

@media (max-width: 640px) {
  .solapa {
    position: relative;
    top: auto;
    width: calc(100% - 2px);
    height: 21.563rem;
  }

  .solapa h3 {
    position: relative;
    top: -2.563rem;
    left: 2.188rem;
    font-size: 0.9rem;
  }
}