.panel_settings {
    width: 100%;
}

.opciones {
    width: 100%;
    height: 150px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.perfil, .password, .deactivate {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    border: 1px solid #94A3B8;
    padding: 1rem;
    border-radius: 12px;
    transition: all 0.3s ease; /* Agrega transición suave */
}

.perfil:hover,
.password:hover,
.deactivate:hover {
    background-color: #94A3B8;
}

.perfil.selected,
.password.selected {
    background-color: #424884;
}

.deactivate.selected {
    background-color: #ff6f59;
}

.perfil svg, .password svg {
    color: #00a396;
}

.deactivate svg {
    color: #ff6f59;
}

.perfil span, .password span {
    color: #00a396;
    padding: 0.8rem;
}

.deactivate span {
    color: #ff6f59;
    padding: 0.8rem;
}

.perfil:hover span, 
.password:hover span,
.perfil:hover svg,
.password:hover svg,
.perfil.selected span,
.password.selected span  {
    color: #ffffff;
}

.deactivate:hover span,
.deactivate.selected span,
.deactivate.selected svg {
    color: #ffffff;
}

.perfil.selected svg,
.password.selected svg {
    color: #00a396;
}

