.panel_settings {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.opciones {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.313rem;
}

.perfil, .password, .deactivate {
  width: 100%;
  min-height: 5rem; 
  display: flex;
  align-items: center;
  border: 1px solid #94A3B8;
  padding: 1rem;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
}

.perfil:hover, .password:hover, .deactivate:hover {
  background-color: #94A3B8;
}

.perfil svg, .password svg {
  color: #00a396;
}

.deactivate svg {
  color: #ff6f59;
}

.perfil span, .password span {
  color: #00a396;
  padding: 0.8rem;
}

.deactivate span {
  color: #ff6f59;
  padding: 0.8rem;
}

.perfil:hover span,
.password:hover span, 
.perfil:hover svg, 
.password:hover svg, 
.perfil.selected span, 
.password.selected span {
  color: #ffffff;
}

.deactivate:hover span, 
.deactivate.selected span, 
.deactivate.selected svg {
  color: #ffffff;
}

.perfil.selected svg, 
.password.selected svg {
  color: #00a396;
}

.perfil.selected, 
.password.selected {
  background-color: #424884;
}

.deactivate.selected {
  background-color: #ff6f59;
}

.perfil:hover, 
.password:hover, 
.deactivate:hover {
  background-color: #94A3B8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* media queries */
@media (min-width: 1024px) and (max-width: 1138px) {
  .perfil span, 
  .password span,
  .deactivate span {
    font-size: 0.8rem;    
  }
}

@media (max-width: 768px) {
  .panel_settings {
    width: 100%;
    position: relative;
    top: auto;
  }
}

@media (max-width: 640px) {
  .panel_settings {
    width: 100%;
    position: relative;
    top: auto;
  }
  
  .opciones {
    height: auto;
    gap: 0.625rem;
  }

  .perfil, .password, .deactivate {
    height: 5rem;
    padding: 0.8rem;
  }
}

