.solapa {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 325px;
}

.solapa h3 {
  color: #00a396;
}

.solapa_password.activa {
  display: block;
  background: #ffffff;
  box-shadow: 2px 2px 5px #94A3B8;
}

.solapa_password {
  background: #ffffff;
  box-shadow: 2px 2px 5px #94A3B8;
}

.form_password {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.campo_password {
  display: flex;
  flex-direction: column;
}

.campo_password label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #94A3B8;
}

.campo_password input {
  width: 100%;
  padding: 5px;
  border: 1px solid #94A3B8;
  border-radius: 8px;
  font-size: 15px;
  color: #94A3B8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: border-color 0.3s ease;
}

.campo_password input:focus  {
  outline: none;
  border-color: #00a396;
  box-shadow: 0 0 0 1px #94A3B8;
}

.campo_password input::placeholder {
  color: #94A3B8;
}

.btn_password {
  background-color: #424884;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn_password:hover {
  background-color: #94A3B8;
}