.solapa {
  display: block;
  width: 100%;
  height: 400px;
  padding: 20px;
}

.solapa h3 {
  color: #424884;
}

.solapa_password {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form_password {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.campo_password {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn_password {
  background-color: #424884;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn_password:hover {
  background-color: #94A3B8;
}