.solapa {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.solapa.activa {
  display: block;
  background: #ffffff;
  box-shadow: 0.125rem 0.125rem 0.313rem #94A3B8;
  animation: fadeIn 0.3s ease-out;
}

.panel_content {
  width: 100%;
  height: auto;
  /* min-height: 9.375rem; */
  margin: 0;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0.125rem 0.125rem 0.313rem #94a3b8;
  border-radius: 1rem;
  color: #94a3b8; 
  box-sizing: border-box;
}

.form_password {
  width: 100%;
  height: auto;
}

.titulo_form {
  font-size: 1.2rem;
  padding: 0.313rem;
  color: #00a396;
}

.password_data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.125rem;
  padding: 0.313rem;
}

.password_data input:focus {
  outline: #94a3b8;
  border: 0.125rem solid #00a396;
}

.success_message {
  position: relative;
  top: 0;
  height: 30px;
  background-color: #27ae60;
  border-radius: 0.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 0.9rem;
}

/* media queries */
@media (max-width: 1024px) {
  .solapa.activa {
    top: 6.25rem;
    width: calc(100% - 2px);
  }

  .panel_content {
    height: auto;
    max-height: 17.320rem;
  }

  .titulo_form {
    position: relative;
    top: -2.563rem;
    left: 2.188rem;
    font-size: 1rem;
  }

  .password_data {
    position: relative;
    top: -2.8rem;
  }

  .success_message {
    top: -42px;
  }

}

@media (max-width: 768px) {
  .solapa {
    position: relative;
    top: 6.25rem;
    width: calc(100% - 2px);
  }

  .panel_content {
    height: auto;
    max-height: 22rem;
  }

  .titulo_form {
    position: relative;
    top: -2.563rem;
    left: 2.188rem;
    font-size: 0.9rem;
  }
  
  .password_data {
    grid-template-columns: 1fr;
    position: relative;
    top: -1.875rem;
  }

  .success_message {
    top: -35px;
  }
}

@media (max-width: 640px) {
  .solapa {
    top: 6.25rem;
    width: calc(100% - 2px);
  }

  .panel_content {
    height: auto;
    max-height: 320px;
  }

  .titulo_form {
    position: relative;
    top: -2.563rem;
    left: 2.188rem;
    font-size: 0.9rem;
  }

  .password_data {
    grid-template-columns: 1fr;
    position: relative;
    top: -2.5rem;
  }

  .password_data input,
  .password_data select,
  .password_data {
    padding: 0.2rem;
  }

  .password_data label {
    font-size: 0.75rem;
  }

  .success_message {
    top: -40px;
  }
}