.solapa {
  display: none;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.solapa.activa {
  display: block;
  background: #ffffff;
  box-shadow: 0.125rem 0.125rem 0.313rem #94A3B8;
  animation: fadeIn 0.3s ease-out;
}

.panel_content {
    width: 100%;
    height: auto;
    min-height: 25rem;
    margin: 0;
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0.125rem 0.125rem 0.313rem #94a3b8ff;
    border-radius: 1rem;
    color: #94a3b8ff;
    box-sizing: border-box;
}

.perfil_form {
    width: 100%;
    height: auto;
}

.titulo_form {
  font-size: 1.2rem;
  padding: 0.313rem;
  color: #00a396ff;
}

.profesional_data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.125rem;
  padding: 0.313rem;
}

.profesional_data input:focus,
.profesional_data select:focus {
  outline: #94a3b8;
  border: 2px solid #00a396;
}

.success_message {
  position: relative;
  top: 0;
  height: 30px;
  background-color: #27ae60;
  border-radius: 0.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 0.9rem;
}

/* media queries */
@media (max-width: 1024px) {
    .solapa.activa {
        top: 6.25rem;
        width: calc(100% - 2px);
        height: auto;
    }

    .titulo_form {
        position: relative;
        top: -2.563rem;
        left: 2.188rem;
        font-size: 0.9rem;
    }

    .profesional_data {
        position: relative;
        top: -2.5rem;
    }

    .profesional_data input,
    .profesional_data select,
    .profesional_data  {
        padding: 0.2rem;
    }

    .profesional_data label {
        font-size: 0.75rem;
    }
}

@media (max-width: 768px) {
    .solapa.activa {
        position: relative;
        top: auto;
        width: calc(100% - 2px);
        height: auto;
    }

    .titulo_form {
        position: relative;
        top: -2.563;
        left: 2.188rem;
        font-size: 0.9rem;
    }

    .profesional_data {
        grid-template-columns: 1fr;
        position: relative;
        top: -2.5rem;
    }

    .profesional_data input,
    .profesional_data select,
    .profesional_data  {
        padding: 0.2rem;
    }

    .profesional_data label {
        font-size: 0.75rem;
    }

}

@media (max-width: 640px) {
    .solapa.activa {
        top: auto;
        width: calc(100% - 2px);
        height: auto;
        max-height: 715px;
    }

    .perfil_form {
        height: auto;
    }

    .titulo_form {
        position: relative;
        top: -2.563;
        left: 2.188rem;
        font-size: 0.9rem;
    }

    .profesional_data {
        grid-template-columns: 1fr;
        position: relative;
        top: -2.5rem;
    }

    .profesional_data input,
    .profesional_data select,
    .profesional_data  {
        padding: 0.2rem;
    }

    .profesional_data label {
        font-size: 0.75rem;
    }

}   