.sessions {
    width: 100%;
    height: 7.813rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.563rem;
    border-radius: 0.5rem;
    position: relative;
    top: 0.625rem;
}

.sessions_held, .sessions_total {
    background-color: #ffffff;
    width: 7.5rem;
    height: 7.5rem;
    padding: 1rem;
    border-radius: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessions_held {
    border: 1px solid #F5D000;
    box-shadow: 0 2px 2px #F5D000;
}

.sessions_total {
    border: 1px solid #FF5349;
    box-shadow: 0 2px 2px #FF5349;
}

.sessions_held p {
    color: #F5D000;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sessions_total p {
    color:   #FF5349;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sessions_held p span {
    font-size: 2.4rem;
    color: #F5D000;
}

.sessions_total p span {
    font-size: 2.4rem;
    color:   #FF5349;
}

/* media queries */
@media (max-width: 1024px)  {
    .sessions {
        top: 0;
        left: 1.875rem;
        width: 90%;
        height: 7.813rem;
    }

    .sessions_held, .sessions_total {
        width: 100%;
        height: 6.25rem;
        border-radius: 0.938rem;
    }
}

@media (max-width: 768px)  {
    .sessions {
        top: 0;
        left: 2.188rem;
        width: 90%;
        height: 7.813rem;
    }

    .sessions_held, .sessions_total {
        width: 100%;
        height: 6.25rem;
        border-radius: 0.938rem;
    }

    .sessions_held p, 
    .sessions_total p {
        font-size: 1rem;
    }

    .sessions_held p span,
    .sessions_total p span {
        font-size: 1.5rem;
    }
}

@media (max-width: 640px) {
    .sessions {
        top: 0;
        left: 3.875rem;
        width: 80%;
        height: 6.25rem;
    }

    .sessions_held, .sessions_total {
        width: 100%;
        height: 4.688rem;
        border-radius: 0.938rem;
    }

    .sessions_held p, 
    .sessions_total p {
        font-size: 0.7rem;
    }

    .sessions_held p span,
    .sessions_total p span {
        font-size: 1.3rem;
    }
}

@media (max-width: 450px) {
    .sessions {
        top: 0;
        left: 1.875rem;
        width: 80%;
        height: 6.25rem;
    }

    .sessions_held, .sessions_total {
        width: 100%;
        height: 4.688rem;
        border-radius: 0.938rem;
    }

    .sessions_held p, 
    .sessions_total p {
        font-size: 0.7rem;
    }

    .sessions_held p span,
    .sessions_total p span {
        font-size: 1.3rem;
    }
}