.patient_datacard {
    width: 90%;
    height: 14.063rem;
    margin: 0.625rem 1.563rem 0.625rem 1.563rem;
    border-radius: 0.938rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.id_card, .card_details {
    display: flex;
    flex-direction: column;
}

.id_card {
    background-color: #00a396;
    color: #ffffff;
    border-radius: 0.938rem 0.938rem 0 0;
    width: 100%;
    height: 1.875rem;
    display: flex;
    flex-direction: row; 
}

.id_card p {
    font-size: 0.8rem;
    text-align: center;
    margin: 0.313rem 2.5rem;
}

.id_card--diagnostico {
  background-color:  #f0890c;
}

.id_card--tratamiento {
  background-color: #00a396; 
}

.id_card--alta {
  background-color: #b36ed8;
}

.card_details {
    padding: 0.938rem;
}

.card_details p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_details--diagnostico p {
    color: #f0890c;
}

.card_details--tratamiento p {
    color: #00a396;
}

.card_details--alta p {
    color: #b36ed8;
}

.card_details span {
    color: #89898a;
    text-align: right;
}

/* media queries */
@media (max-width: 768px)  {
    .patient_datacard {
        position: relative;
        left: 0.625rem;
        width: 90%;
    }

    .id_card p {
        font-size: 0.8rem;
    }

    .card_details {
        padding: 0.85rem;
    }

    .card_details p {
        font-size: 0.8rem;
    }
}

@media (max-width: 640px) {
    .patient_datacard {
        position: relative;
        left: 0.938rem;
        right: 0;
        width: 90%;
        height: 12.5rem;
    }

    .id_card p {
        font-size: 0.75rem;
    }

    .card_details {
        padding: 0.7rem;
    }

    .card_details p {
        font-size: 0.75rem;
    }
}

@media (max-width: 450px) {
    .patient_datacard {
        position: relative;
        left: -0.625rem;
        right: 0;
        width: 90%;
        height: 12.5rem;
    }

    .id_card p {
        font-size: 0.68rem;
    }

    .card_details {
        padding: 0.7rem;
    }

    .card_details p {
        font-size: 0.7rem;
    }
}