.sessions {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 8px;
    position: relative;
    top: 10px;
}

.sessions_held, .sessions_total {
    background-color: #ffffff;
    width: 120px;
    height: 120px;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessions_held {
    border: 1px solid #F5D000;
    box-shadow: 0 2px 2px #F5D000;
}

.sessions_total {
    border: 1px solid #FF5349;
    box-shadow: 0 2px 2px #FF5349;
}

.sessions_held p {
    color: #F5D000;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sessions_total p {
    color:   #FF5349;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sessions_held p span {
    font-size: 2.4rem;
    color: #F5D000;
}

.sessions_total p span {
    font-size: 2.4rem;
    color:   #FF5349;
}